
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: #E65100;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
}

/* HEADER E NAVEGAÇÃO */
header {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    height: 130px;
}
header img {
    height: 110px;
    margin-right: 40px;
}
nav {
    display: flex;
    align-items: center;
    gap: 60px;
    margin: 0;
}
#botao {
    color: white;
    border-radius: 10px;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    word-spacing: 5px;
    font-size: 120%;
    background: none;
    border: none;
    transition: color 0.3s, transform 0.3s;
}
#botao:hover {
    color: #E65100;
    transform: scale(1.1);
}
button {
    text-decoration: none;
    background-color: #E65100;
    color: black;
    border-radius: 25px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 130%;
    margin: 0;
    cursor: pointer;
    float: right;
    transition: background 0.2s;
}
button:hover {
    background-color: #e65100;
    transform: scale(1.1);
}
/* SEÇÕES PRINCIPAIS */
.section-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    min-height: 500px;
    margin-bottom: 0;
    padding-bottom: 10px;
}
.section-flex2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    min-height: 500px;
    flex-direction: row-reverse;
    margin-top: 0;
    padding-top: 10px;
}
#quem-somos {
    border-radius: 20px;
    margin: 0;
    padding: 10px 0;
}
#lojas {
    background-color: black;
    color: white;
}

/* TÍTULOS E TEXTOS */
h1 {
    margin: 20px;
    padding: 20px;
    text-align: center;
}
h2 {
    color: whitesmoke;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 4px;
}
h3 {
    font-size: 150%;
    color: rgb(253, 252, 252);
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}
h5 {
    font-size: 80%;
}
ins {
    text-decoration: none;
}
#frase1 {
    font-size: 150%;
}

/* BLOCO DE TEXTO DAS SECTIONS */
.texto-section {
    flex-direction: column;
    width: 600px;
    max-width: 90vw;
    text-align: justify;
    font-size: 1.3em;
    margin-left: 60px;
}
.texto-section2 {
    padding: 20px;
    border-radius: 16px;
    width: 600px;
    max-width: 90vw;
    text-align: justify;
    font-size: 1.2em;
    color: #fff;
}

#quem-somos {
    border-radius: 20px;
    margin: 0;
    padding: 10px 0;
}
